<?xml version="1.0" encoding="utf-8"?>
<Root>
  <ActionCodeSettings>
    <Code key="Search" value="1"  />
    <!--查詢-->
  </ActionCodeSettings>
	<Pages>
		 <!--start 卡人-->
		<Page url="~/Page/P030101010001.aspx" name="維護記錄查詢" functionid="01010100" by="Search">
		</Page>
		<Page url="~/Page/P030101010002.aspx" name="維護記錄查詢" functionid="01010100" by="Search">
		</Page>
		<Page url="~/Page/P030101020101.aspx" name="維護員統計表" functionid="01010201" by="Search">
		</Page>
		<Page url="~/Page/P030101020102.aspx" name="維護員統計表" functionid="01010201" by="Search">
		</Page>
		<Page url="~/Page/P030101020201.aspx" name="卡人與維護員關係表" functionid="01010202" by="Search">
		</Page>
		<Page url="~/Page/P030101020202.aspx" name="卡人與維護員關係表" functionid="01010202" by="Search">
		</Page>
		<Page url="~/Page/P030101020301.aspx" name="維護欄位統計表" functionid="01010203" by="Search">
		</Page>
		<Page url="~/Page/P030101020302.aspx" name="維護欄位統計表" functionid="01010203" by="Search">
		</Page>
		<Page url="~/Page/P030101020401.aspx" name="卡人調整統計表" functionid="01010204" by="Search">
		</Page>
		<Page url="~/Page/P030101020402.aspx" name="卡人調整統計表" functionid="01010204" by="Search">
		</Page>
		<Page url="~/Page/P030101030101.aspx" name="調整固定額度" functionid="01010301" by="Search">
		</Page>
		<Page url="~/Page/P030101030102.aspx" name="調整固定額度" functionid="01010301" by="Search">
		</Page>
		<Page url="~/Page/P030101030201.aspx" name="調整臨時額度" functionid="01010302" by="Search">
		</Page>
		<Page url="~/Page/P030101030202.aspx" name="調整臨時額度" functionid="01010302" by="Search">
		</Page>
		<Page url="~/Page/P030101030301.aspx" name="新卡額度" functionid="01010303" by="Search">
		</Page>
		<Page url="~/Page/P030101030302.aspx" name="新卡額度" functionid="01010303" by="Search">
		</Page>
		<Page url="~/Page/P030101040101.aspx" name="員工調整記錄" functionid="01010401" by="Search">
		</Page>
		<Page url="~/Page/P030101040102.aspx" name="員工調整記錄" functionid="01010401" by="Search">
    </Page>
    <Page url="~/Page/P030101040201.aspx" name="自扣帳戶ID與卡人ID不同者" functionid="01010402" by="Search">
    </Page>
    <Page url="~/Page/P030101040202.aspx" name="自扣帳戶ID與卡人ID不同者" functionid="01010402" by="Search">
    </Page>
		<!--end
		
		start 卡片-->
		<Page url="~/Page/P030201010001.aspx" name="維護記錄查詢" functionid="02010100" by="Search">
		</Page>
		<Page url="~/Page/P030201010002.aspx" name="維護記錄查詢" functionid="02010100" by="Search">
		</Page>
		<Page url="~/Page/P030201020101.aspx" name="維護員統計表" functionid="02010201" by="Search">
		</Page>
		<Page url="~/Page/P030201020102.aspx" name="維護員統計表" functionid="02010201" by="Search">
		</Page>
		<Page url="~/Page/P030201020201.aspx" name="卡片與維護員關係表" functionid="02010202" by="Search">
		</Page>
		<Page url="~/Page/P030201020202.aspx" name="卡片與維護員關係表" functionid="02010202" by="Search">
		</Page>
		<Page url="~/Page/P030201020301.aspx" name="維護欄位統計表" functionid="02010203" by="Search">
		</Page>
		<Page url="~/Page/P030201020302.aspx" name="維護欄位統計表" functionid="02010203" by="Search">
		</Page>
		<Page url="~/Page/P030201020401.aspx" name="卡片調整統計表" functionid="02010204" by="Search">
		</Page>
		<Page url="~/Page/P030201020402.aspx" name="卡片調整統計表" functionid="02010204" by="Search">
		</Page>
		<Page url="~/Page/P030201030101.aspx" name="調整固定額度" functionid="02010301" by="Search">
		</Page>
		<Page url="~/Page/P030201030102.aspx" name="調整固定額度" functionid="02010301" by="Search">
		</Page>
		<Page url="~/Page/P030201030201.aspx" name="調整臨時額度" functionid="02010302" by="Search">
		</Page>
		<Page url="~/Page/P030201030202.aspx" name="調整臨時額度" functionid="02010302" by="Search">
		</Page>
		<Page url="~/Page/P030201030301.aspx" name="新卡額度" functionid="02010303" by="Search">
		</Page>
		<Page url="~/Page/P030201030302.aspx" name="新卡額度" functionid="02010303" by="Search">
		</Page>
		<Page url="~/Page/P030201040101.aspx" name="非流通BlockCode調整爲流通中" functionid="02010401" by="Search">
		</Page>
		<Page url="~/Page/P030201040102.aspx" name="非流通BlockCode調整爲流通中" functionid="02010401" by="Search">
		</Page>
    <Page url="~/Page/P030201040201.aspx" name="年費無優惠調整爲優惠條件" functionid="02010402" by="Search">
    </Page>
    <Page url="~/Page/P030201040202.aspx" name="年費無優惠調整爲優惠條件" functionid="02010402" by="Search">
    </Page>
		<!--end
		
		start VD卡人-->
		<Page url="~/Page/P030301010001.aspx" name="維護記錄查詢" functionid="03010100" by="Search">
		</Page>
		<Page url="~/Page/P030301010002.aspx" name="維護記錄查詢" functionid="03010100" by="Search">
		</Page>
		<!--end
		
		start VD卡片-->
		<Page url="~/Page/P030401010001.aspx" name="維護記錄查詢" functionid="04010100" by="Search">
		</Page>
		<Page url="~/Page/P030401010002.aspx" name="維護記錄查詢" functionid="04010100" by="Search">
		</Page>
		<!--end-->
		<Page url="~/Page/P030501000001.aspx" name="匯入記錄查詢" functionid="05010000" by="Search">
		</Page>
		<Page url="~/Page/P030501000002.aspx" name="匯入記錄查詢" functionid="05010000" by="Search">
		</Page>
  
	
  </Pages>
  
</Root>

